### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [201]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
path = os.path.join("Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(path)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [202]:
df["SN"].nunique()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [203]:
total_users = df["SN"].nunique()
total_unique_items = df["Item ID"].nunique()
average_price = df["Price"].mean()
average_age = df["Age"].mean()
gender_distribution = df["Gender"].value_counts(normalize = True) * 100

data = [total_users, total_unique_items, average_price, average_age, gender_distribution]

summary_df = pd.DataFrame([data], columns = ["Total Players", 
                 "Total Unique Items", 
                 "Average Price", 
                 "Average Age",  
                 "Gender Distribution"]
                         )
summary_df

,Total Players,Total Unique Items,Average Price,Average Age,Gender Distribution
0,576,183,3.050987,22.714103,Male 83.589744 Female ...

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [204]:
df_users = df[["SN", "Gender"]].drop_duplicates()

df_users["Gender"].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [205]:
df_users["Gender"].value_counts(normalize = True)*100

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [206]:
#Average Purchase Price, by Gender
df.groupby("Gender")["Price"].mean()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [207]:
#purchase count, by gender
df.groupby("Gender")["Purchase ID"].count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [208]:
#Average Purchase Total per person
(df["Price"].sum())/(df["SN"].nunique())

4.131545138888889

In [209]:

#Average Purchase Total per person by Gender
df.groupby("Gender")["Price"].sum() / (df.groupby("Gender")["SN"].nunique())

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [210]:
average_purchase_price = df.groupby("Gender")["Price"].mean()
purchase_count = df.groupby("Gender")["Purchase ID"].count()
purchase_total = df.groupby("Gender")["Price"].sum() / (df.groupby("Gender")["SN"].nunique())

data = {"Average Purchase Price": average_purchase_price, "Purchase Count by Gender": purchase_count, "Purchase Total by Gender": purchase_total}
sum_df=pd.DataFrame(data, columns = ["Average Purchase Price", "Purchase Count by Gender", "Purchase Total by Gender"])
sum_df

,Average Purchase Price,Purchase Count by Gender,Purchase Total by Gender
Gender,,,
Female,3.203009,113,4.468395
Male,3.017853,652,4.065372
Other / Non-Disclosed,3.346000,15,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [211]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 1000]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
df["Age Demographics"] = pd.cut(df["Age"], bins = bins, labels = labels)
#df["Age Demographics"].value_counts(sort = False, normalize = True)*100
df["Age Demographics"].value_counts(sort = False)

<10       32
10-14     19
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age Demographics, dtype: int64

In [212]:
total_by_age = df["Age Demographics"].value_counts(sort = False)
percentage_by_age = df["Age Demographics"].value_counts(sort = False, normalize = True)*100
data = {"Players by Age Group": total_by_age, "Percentage of Players by Age Group": percentage_by_age}
age_df = pd.DataFrame(data, columns = ["Players by Age Group", "Percentage of Players by Age Group"])
age_df

       Players by Age Group  Percentage of Players by Age Group
<10                      32                            4.102564
10-14                    19                            2.435897
15-19                   136                           17.435897
20-24                   365                           46.794872
25-29                   101                           12.948718
30-34                    73                            9.358974
35-39                    41                            5.256410
40+                      13                            1.666667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [213]:
#Purchase total by age bucket
purchase_total = df.groupby("Age Demographics")["Price"].sum()
#Average purchase total per person by age bucket
age_avg_purchase_total = df.groupby("Age Demographics")["Price"].sum() / (df.groupby("Age Demographics")["SN"].nunique())
#Purchase count by age bucket
age_purchase_count = df.groupby("Age Demographics")["Purchase ID"].count()
#Average purchase price by age bucket
age_avg_price = df.groupby("Age Demographics")["Price"].mean()
age_data = {"Purchase Total" : purchase_total, "Average purchase total" : age_avg_purchase_total, "Purchase count" : age_purchase_count, "Average purchase price" : age_avg_price}
age_purchase_df = pd.DataFrame(age_data, columns = ["Purchase count", "Purchase Total", "Average purchase price", "Average purchase total"])
age_purchase_df

,Purchase count,Purchase Total,Average purchase price,Average purchase total
Age Demographics,,,,
<10,32,108.96,3.405000,4.540000
10-14,19,50.95,2.681579,3.396667
15-19,136,412.89,3.035956,3.858785
20-24,365,1114.06,3.052219,4.318062
25-29,101,293.00,2.900990,3.805195
30-34,73,214.00,2.931507,4.115385
35-39,41,147.67,3.601707,4.763548
40+,13,38.24,2.941538,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [214]:
#top spenders by total $$
total_purchase_value = df.groupby("SN")["Price"].sum()
sorted_purchase_value = total_purchase_value.sort_values(ascending = False)
sorted_purchase_value

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
               ...
Irilis75        1.02
Isurria36       1.02
Chanirra79      1.01
Aidai61         1.01
Alo38           1.00
Name: Price, Length: 576, dtype: float64

In [215]:
#purchase count
purchase_count = df.groupby("SN")["Purchase ID"].count()
purchase_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [216]:
#Average purchase price
avg_price = df.groupby("SN")["Price"].mean()

In [217]:
data = {"Purchase Count" : purchase_count, "Average Purchase Price": avg_price, "Total Purchase Value" : total_purchase_value}
top_df = pd.DataFrame(data, columns = ["Purchase Count", "Average Purchase Price","Total Purchase Value"])
top_df = top_df.sort_values("Total Purchase Value", ascending = False)
top_df.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [234]:
items_df = df[["Item ID", "Item Name", "Price"]]
items_df.set_index(["Item ID", "Item Name"])
clean_items_df = items_df.drop_duplicates()
clean_items_df = clean_items_df.set_index(["Item ID", "Item Name"])
clean_items_df

                                                   Price
Item ID Item Name
108     Extraction, Quickblade Of Trembling Hands   3.53
143     Frenzied Scimitar                           1.56
92      Final Critic                                4.88
100     Blindscythe                                 3.27
131     Fury                                        1.44
...                                                  ...
130     Alpha                                       2.07
90      Betrayer                                    2.94
177     Winterthorn, Defender of Shifting Worlds    2.08
104     Gladiator's Glaive                          1.93
180     Stormcaller                                 3.36

[183 rows x 1 columns]

In [235]:
#purchase count
purchase_count = items_df.groupby(["Item ID", "Item Name"])["Price"].count()
purchase_count

Item ID  Item Name
0        Splinter                           4
1        Crucifer                           3
2        Verdict                            6
3        Phantomlight                       6
4        Bloodlord's Fetish                 5
                                           ..
179      Wolf, Promise of the Moonwalker    6
180      Stormcaller                        1
181      Reaper's Toll                      5
182      Toothpick                          3
183      Dragon's Greatsword                3
Name: Price, Length: 183, dtype: int64

In [236]:
#Total Purchase Value
total_purchase_value = items_df.groupby(["Item ID", "Item Name"])["Price"].sum()
total_purchase_value

Item ID  Item Name
0        Splinter                            5.12
1        Crucifer                            9.78
2        Verdict                            14.88
3        Phantomlight                       14.94
4        Bloodlord's Fetish                  8.50
                                            ...
179      Wolf, Promise of the Moonwalker    26.88
180      Stormcaller                         3.36
181      Reaper's Toll                       8.30
182      Toothpick                          12.09
183      Dragon's Greatsword                 3.27
Name: Price, Length: 183, dtype: float64

In [237]:
clean_items_df["Purchase Count"] = purchase_count
clean_items_df["Total Purchase Value"] = total_purchase_value
clean_items_df = clean_items_df.sort_values("Total Purchase Value", ascending = False)
clean_items_df

,,Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
82,Nirvana,4.90,9,44.10
145,Fiery Glass Crusader,4.58,9,41.22
92,Final Critic,4.88,8,39.04
103,Singed Scalpel,4.35,8,34.80
...,...,...,...,...
126,Exiled Mithril Longsword,2.00,1,2.00
125,Whistling Mithril Warblade,1.00,2,2.00
23,Crucifer,1.99,1,1.99
104,Gladiator's Glaive,1.93,1,1.93
42,The Decapitator,1.75,1,1.75

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [241]:
clean_items_df.head(5)

,,Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
82,Nirvana,4.90,9,44.10
145,Fiery Glass Crusader,4.58,9,41.22
92,Final Critic,4.88,8,39.04
103,Singed Scalpel,4.35,8,34.80